<div>
  <h1>Edit Your Profile</h1>
  <hr />
  <div class="col-md-4">
    <!-- NgSubmit is angular's way of submitting a form it handles sideeffects of forms like refresh
      To get data from a submitted form we add #loginForm to the form 
      Now #loginForm.values gives us access to the properties we have (ngModel) on
    -->
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <!-- NgModel require a name attribute 
            () = Get data from html to component
            [] = getting data from component to html 
            [()] = two way binding getting data from both html and component 
        -->
        <input
          (ngModel)="(userName)"
          id="firstName"
          type="text"
          class="form-control"
          placeholder="First Name..."
          name="userName"
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          name="password"
          (ngModel)="(password)"
          id="lastName"
          type="text"
          class="form-control"
          placeholder="Last Name..."
        />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>
