<div class="row" *ngFor="let session of sessions">
    <div class="col-md-10">
        <collapsible-well [title]="session.name">
            <!-- well-title & well-body are attrbute selectors so we know which elemnt portion to display when u have more than 1 ng-content-->
            <div well-title>
                <h4>
                    {{session.name}} <i class="glyphicon glyphicon-fire" style="color: red"
                        *ngIf="session.voters.length > 3"></i>
                </h4>
            </div>
            <div well-body>
                <h6>{{session.presenter}}</h6>
                <span>Duration: {{session.duration}}</span><br />
                <span>Level: {{session.level}}</span>
                <p>{{session.abstract}}</p>
            </div>
        </collapsible-well>
    </div>
</div>